.cdp-line2 {
  width: 80vw;
  height: 58vh;
  background: transparent;
  border-radius: 3%;
  padding: 40px 10px;
  position: relative;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
}

.cdp-line2-holder {
  width: 80vw;
  height: 58vh;
  background: rgb(11, 18, 38);
  border-radius: 3%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.cdp-line2-holder::-webkit-scrollbar {
  display: none;
}

.per-cdp {
  position: relative;
  top: 100vh;
  width: 75vw;
  min-height: 15vh;
  background: rgb(5, 25, 46);
  border-radius: 3%;
  padding: 40px 50px 40px 10px;
}

.per-cdp-right {
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  flex-direction: column;
  -webkit-box-align: end;
  align-items: flex-end;
  width: 40%;
}

.per-cdp-left {
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  flex-direction: column;
  -webkit-box-align: start;
  align-items: flex-start;
  width: 100%;
}

.per-cdp-center {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  max-width: 75vw;
  max-height: 15vh;
}

.pie {
  max-height: 15vh;
}

.h-cdp {
  position: absolute !important;
  color: #d7dde2;
  font-size: 2.5rem;
  font-family: lato;
  text-shadow: 0 2px 0 #000, 0 0 20px #aaa;
  right: 0px;
  left: 0px;
  margin: 0px auto;
  text-align: center;
  top: -2vh;
}

.open-btn {
  position: absolute !important;
  right: 0px;
  margin: 0px auto;
  top: -2vh;
}
